<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profilePhoto.png" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Carlos Walter Ibañez</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dignissimos nam sunt vitae quibusdam cupiditate rem molestiae. Iste ad consequuntur nobis veritatis iusto culpa sint voluptates, tempore veniam vero perferendis.</p>
        </span>
    </div>
</div>
